#heading {
    font-family: 'Bell MT';
    text-align: center;
    border-style: solid;
    border-color: black;
}

#text {
    font-size: 1em;
    border-style: solid;
    border-width: 2px;
    margin: auto;
    width: 75em;
    background-color: #d7fffd;
    padding: 3em;
}

#joinButton {
    background-color: #4cff00;
    padding: 2em;
    float: none;
    border-radius: 2em;
    text-align: center;
    border: 2px solid black;
    margin: 2em;
}

.btn {
    text-align: center;
}

#joinButton:hover {
    box-shadow: #ffd800 0 0 3px 3px;
}

body {
    text-align: center;
}

.column {
    font-size: 1em;
    margin: auto;
    padding: 3em;
    float: left;
    width: 40%;
    
}
